<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-padding-top">
      {{(userService.getMe$() | async)?.username}}
    </ion-title>
    <ion-button
      class="ion-padding-start ion-padding-end"
      type="button"
      color="danger"
      fill="outline"
      slot="end"
      (click)="logOut()"
      ><ion-icon slot="end" size="small" name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      #searchbar
      placeholder="Enter Slovak word to explain"
      autocapitalize="none"
      [(ngModel)]="searchQuery"
      (keydown.enter)="onEnterPressed($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-list *ngFor="let userWord of userWords.getUserWordsRealtime$() | async">
    <ion-item @fadeOut class="wordItem">
      <div class="ion-padding-start ion-padding-end">
        <ion-label class="ion-text-wrap">
          <h1>{{ userWord.word }}</h1>
          <h3>{{ userWord.explanation }}</h3>
        </ion-label>
        <ion-button
          slot="end"
          color="danger"
          (click)="userWords.removeUserWord(userWord.id)"
          ><ion-icon name="trash-outline"></ion-icon>
        </ion-button>
        <ion-label>
          <h4>{{userWord.createdOn | date: 'medium'}}</h4>
        </ion-label>
      </div>
    </ion-item>

    <!-- <ion-item>
      <ion-label>{{ userWord.word }}</ion-label>
      <ion-button slot="end" (click)="userWords.removeUserWord(userWord.id)"
        >Delete</ion-button
      >
      <p>{{userWord.explanation}}</p>
      <p>{{userWord.createdOn | date: 'medium'}}</p>
    </ion-item> -->
  </ion-list>

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>
      Start with Ionic
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p>
  </div> -->
</ion-content>
